@charset "UTF-8";

/*=========================
  base
=========================*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;/* 1rem = 10px */
}

/* スマホ大 or 横向き〜 */
@media (min-width: 576px) {
}
/* タブレット〜 */
@media (min-width: 768px) {
  html {
    font-size: 87.5%;/* 1rem = 14px */
  }
}
/* PC〜 */
@media (min-width: 992px) {
}
/* PC大〜 */
@media (min-width: 1200px) {
}

/*=========================
  Layout
=========================*/
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 4%;
}
/*スマホ大、横向き〜 */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/*　タブレット 〜 */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
/*　PC 〜 */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/*　PC大 〜 */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*=========================
  common style
=========================*/
* {
  font-size: 1.4rem;
}
a {
  color: #3a1301;
  text-decoration: none;
  /* スマホ対応で最初に入れる */
  display: block;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
ul {
  list-style: none;
}
.ttl {
  font-size: 3.2rem;
  text-align: center;
  padding-top: 4em;
  margin-bottom: 2em;
}
/*=========================
  Header
=========================*/
header {
  width: 100%;
  position: fixed;
  /* position: sticky; */
  z-index: 10;
  /* bottom: 0; */
  top: 0;
  left: 0;
  background: rgba(253, 249, 243, 0.7);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo {
  width: 220px;
}

#gnav {
  /* display: none; */
  position: absolute;
  /* あくまで画面サイズ分上に置いているので
  画面サイズが小さくなってメニュー幅の高さの方が大きい場合
  はみ出てくる場合がある */
  top: -100vh;
  left: 0;
  width: 100vw;
  background-color: rgba(58, 19, 1, 0.7);
  /* ヘッダー分下げる */
  padding-top: 80px;
  /* クリック前は欄外に飛ばしてある */
  /* ただし、transformでは、画面サイズしている間に、出てきてしまう */
  /* transform: translateX(-100vw); *

  /* 変化するものは、全て1秒で変化 */
  transition: all 0.7s;
}
#nav__input:checked ~ #gnav {
  /* ~同じ親を持つ（階層一緒） */
  /*  */
  /* transform: translateX(0); */
  top: 0;
}


#gnav ul {
  display: flex;
  /* ハンバーガーメニュー内は縦なので */
  flex-direction: column;
}
#gnav li {
  border-top: solid 1px #FFF;
  padding: 20px;
}
#gnav a {
  color: #fff;
  padding: 20ox;
  text-align: center;
}
#gnav a:hover {
  background-color: #3a1301;
}
@media (min-width: 992px) {
  #gnav {
    /* display: none; */
    /* メディアクエリ切るときは、元で書いた分を全て書いて、
    反転させていく */
    transition: none;
    transform: none;
    position: initial;
    top: auto;
    left: auto;
    width: auto;
    background-color: transparent;
    padding-top: 0;
  }
  #gnav ul {
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
  #gnav li {
    border: none;
  }
  #gnav a {
    padding: 0;
    color: #3a1301;
  }
  #gnav a:hover {
    background-color: transparent;
    color: rgba(58, 19, 1, 0.7);
    text-decoration: underline;
  }

}


/* ハンバーガーメニュー */
.nav__hidden {
  /* チェックボックスで動作を認識させるので、不要な要素を隠す */
  display: none;
}
.hamburger__menu, .hamburger__menu span {
  /* いじるためにinline-block */
  display: inline-block;
}
.hamburger__menu {
  /* display: none; */
  position: relative;
  z-index: 10;
  width: 40px;
  height: 18px;
  cursor: pointer;
}
.hamburger__menu:hover {

}
.hamburger__menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3a1301;
  transition: all 0.4s;
}

.hamburger__menu span:nth-of-type(1) {
  top: 0;

}
.hamburger__menu span:nth-of-type(2) {
  top: 8px;
  
}
.hamburger__menu span:nth-of-type(3) {
  top: 16px;
}

/* #nav__input:checkedのときの
 */
#nav__input:checked ~ .hamburger__menu span {
  background-color: #fff;
}

#nav__input:checked ~ .hamburger__menu span:nth-of-type(1) {
  /* translateY */
  transform: translateY(8px) rotate(-45deg);
}
#nav__input:checked ~ .hamburger__menu span:nth-of-type(2) {
  display: none;
}
#nav__input:checked ~ .hamburger__menu span:nth-of-type(3) {
  transform: translateY(-8px) rotate(45deg);
}

  @media (min-width: 992px) {
    .hamburger__menu {
      display: none;
    }
  
}



/*=========================
  Footer
=========================*/
footer {
  background-color: #e09574;
  padding: 60px 0;
  color: #FFF;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__sns {
  display: flex;
  align-items: flex-end;
  gap: 40px;
}
.footer__sns li {
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #EEE;
  border-radius: 50%;
}
.footer__sns svg {
  width: 100%;
  height: auto;
  fill: #666;
}
.footer_address {
  margin-bottom: 40px;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}


/*=========================
  main contents
=========================*/
main {
  padding-bottom: 400px;
  background-color: rgb(253, 249, 243);
}
#mv {
  position: relative;
  height: 100vh;
  /* メニューを下に入れるために、計算で高さを指定 */
  /* height: calc(100vh - 86px); */
  background: url(./images/menu10.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-bottom: 60px; */
}
/* #mv::after { */
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: linear-gradient(#c9ffbf, #ffafbd);
  mix-blend-mode: color; */
/* } */
.mv__ttl {
  width: 100%;
  /* font-size: 54px; */
  /* font-size: 11.03vw; */
  font-size: min(10.03vw, 64px);
  font-family: 'Philosopher', sans-serif;
  margin-bottom: 10px;
}
.mv__txt {
  font-size: 18px;
}
.copy__wrapper {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 120px 40px;
  border-radius: 46% 34% 68% 52%;
  /* border-radius: 9999999px; */
}
.main__img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.main__img li {
  border: solid 1px #CCC;
  border-radius: 20px;
  overflow: hidden;
}
.main__img li:hover {
  opacity: 0.8;
}
.main__img img {
  width: 100%;
}
.menu__inner {
  padding: 20px;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .main__img {
    flex-direction: row;
  }
  .main__img li {
    /* width: 50%; */
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 992px) {
  .main__img li {
    /* width: 33.3%; */
    width: calc((100% - 60px) / 3);
  }
}

/*=========================
  desc
=========================*/
.desc__left img {
  width: 100%;
}
.desc__right p {
  padding: 10px 0 40px;
  font-size: 1.4rem;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .desc__wrapper {
    display: flex;
    margin-bottom: 60px;
  }
  .desc__wrapper_reverse {
    flex-direction: row-reverse;
  }
  .desc__left {
    width: 40%;
  }
  .desc__right {
    width: 60%;
    padding: 2em;
  }
}

/*=========================
  accordion
=========================*/
#accordion {}

.tab_label {
  display: block;
  cursor: pointer;
  background-color: #CCC;
  padding: 10px 0.5em;
  border: solid 1px rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.tab_label::before {
  content: '▼';
  margin-right: 0.2em;
  display: inline-block;
  transform: rotate(-90deg);
}
.trigger:checked+.tab_label::before {
  transform: rotate(0);
}
.trigger:checked+.tab_label, .tab_label:hover {
  background-color: deepskyblue;
}
.contents {
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.trigger:checked+.tab_label+.contents {
  height: auto;
  overflow: auto;
  opacity: 1;
  padding: 30px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  transition: all 1.2s ease;
}

.trigger {
  display: none;
}
/*=========================
  Table
=========================*/
.tbl__wrapper {
  width: 100%;
  overflow: auto;
  border-top: solid 1px #CCC;
  border-right: solid 1px #CCC;
  border-left: solid 1px #CCC;
}
.tbl__01 {
  /* width: 100%; */
  width: 1400px;
  /* table-layout: fixed; */
  /* border-collapse: collapse; */
  border-collapse: separate;
  border-spacing: 0;
}
.tbl__01 th,
.tbl__01 td {
  border-right: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  padding: 15px;
  vertical-align: top;
}
.tbl__01 th {
  position: sticky;
  left: 0;
  background-color: rgb(225, 235, 250);
}
.tbl__01 td:last-child {
  border-right: none;
}
/* @media (max-width: 767px) {
  .tbl__01,
  .tbl__01 tbody,
  .tbl__01 tr,
  .tbl__01 th,
  .tbl__01 td {
    display: block;
    width: 100%;
  }
} */


/*=========================
  Positon
=========================*/
#posi {
  background-color: #feffdb;
  /* position: relative;はなぜ？ */
  position: relative;
  z-index: 1;
}

.posi__box__wrapper {
  z-index: 1;
  display: flex;
  position: relative;
  /* border: dotted 2px #333; */
}
.posi__box__wrapper__02 {
  z-index: 100;
}
.posi__box {
  /* position: absolute; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  /* border-radius: 50%; */
  background-color: #F66;
  color: #FFF;
  font-size: 2.4rem;
  font-weight: bold;
  /* mix-blend-mode: multiply; */
  /* margin: 0 -20px; */
  /* text-align: center; */
}
.posi__box__01 {
  top: -40px;
  right: -100px;
  z-index: 10;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}
.posi__box__02 {
  top: -100px;
  z-index: 1000;
  background-color: #F92;
  border-radius: 80% 30% 50% 50%/50%;
}
.posi__box__03 {
  bottom: -40px;
  left: -60px;
  z-index: 7;
  background-color: #FC2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}
.posi__box__wrapper__02 {
  margin-top: -100px;
}
.posi__box__04 {
  top: -40px;
  right: -100px;
  z-index: 10;
  background-color: rgb(102, 255, 145);
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;

}
.posi__box__05 {
  top: -100px;
  z-index: 8;
  background-color: rgb(101, 238, 10);
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}
.posi__box__06 {
  bottom: -40px;
  left: -60px;
  z-index: 7;
  background-color: rgb(23, 243, 170);
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
}

/*=========================
  Form
=========================*/
.form__wrapper {
  max-width: 375px;
  margin: 0 auto;
}

.input__box {
  /* このへんのmargin重要 */
  margin: 20px 0;
}

input[type="text"], input[type="tel"], input[type="mail"], textarea {
  /* ブラウザ標準のスタイルをリセット */
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
  width: 100%;
  border: solid 1px #CCC;
  padding: 0.8em 1.5em;
  border-radius: 8px;
  background-color: #fff;
}

label {
  display: block;
}

.dsp__inlineblock {
  display: inline-block;
  
}

