@charset "UTF-8";

body {
  background-image: src="./images/body_bg.png";
  background-size: 228px 228px;
}

.login_wrapper {
  text-align: center;
  width: 500px;
  margin: 50px auto 100px;
}
li {
  width: 300px;
  border: 1px solid #dbdadab6;
  padding: 5px;
}
a {
  display: block;
}







